[submodule "Core/Core/user-code/ov5640"]
	path = Core/Core/user-code/ov5640
	url = git@github.com:DreamLand7707/stm32-ov5640.git
[submodule "Core/Core/user-code/ov5640-linux"]
	path = Core/Core/user-code/ov5640-linux
	url = https://github.com/avafinger/ov5640.git
[submodule "Core/Core/user-code/ov5640-esp32"]
	path = Core/Core/user-code/ov5640-esp32
	url = https://github.com/espressif/esp32-camera.git
